<header role="banner" id="hoverlay">
  <hgroup role="navigation">
    <a href="/" id="home">hitting .406</a>
    <ul class="links">
      <li class="vh600"><a href="/index.html" id="essays" {% if page.lnav == 'essays' %}class="active"{% endif %}>essays</a></li>
      <li class="vh600"><a href="/about.html" id="about" {% if page.lnav == 'about' %}class="active"{% endif %}>about</a></li>
      <li class="vh600"><a href="https://twitter.com/intent/user?screen_name=ajhit406" id="twitter">twitter</a></li>
      <li class="vh600"><a href="http://feeds.feedburner.com/hitting406" id="rss">rss</a></li>
    </ul>
  </hgroup>
</header>